@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-striped table-dark text-center">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>SOYADI</th>
        <th>GÖRSEL</th>
        <th>DEPARTMAN</th>
        <th>GÜNCELLE</th>
        <th>SATIŞLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.PersonelID</td>
            <td>@x.PersonelAd</td>
            <td>@x.PersonelSoyad</td>
            <td>
                <img src="@x.PersonelGorsel" style="width: 100px; height: 70px;"/>
            </td>
            <td>@x.Departman.DepartmanAd</td>
            <td><a href="/Personel/PersonelGetir/@x.PersonelID" class="btn btn-block btn-success">Güncelle</a></td>
            <td><a href="/Personel/DepartmanPersonelSatis/@x.PersonelID" class="btn btn-block btn-danger">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

