@using MvcKutuphane.Models.Entity
@model List<TblKitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitaplar</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom: 15px; margin-top: 15px;">
        <b>Aranacak Kitap Adını Girin: &nbsp;</b>@Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KİTAP ADI</th>
        <th>YAZAR</th>
        <th>KATEGORİ</th>
        <th>BASIM YILI</th>
        <th>YAYINEVİ</th>
        <th>SAYFA</th>
        <th>DURUM</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TblYazar.AD @x.TblYazar.SOYAD</td>
            <td>@x.TblKategori.AD</td>
            <td>@x.BASIMYIL</td>
            <td>@x.YAYINEVI</td>
            <td>@x.SAYFA</td>
            <td>@x.DURUM</td>
            <td><a href="/Kitap/KitapSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kitap/KitapGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>

