@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
{
    <p>
        Ürün Adı: @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
    <br/>
<table class="table table-striped table-dark text-center table-hover">
    <tr>
        <th>ÜRÜN</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYATI</th>
        <th>SATIŞ FİYATI</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>SATIŞ YAP</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.UrunAd</td>
            <td>@x.Marka</td>
            <td>@x.Stok</td>
            <td>@x.AlisFiyat ₺</td>
            <td>@x.SatisFiyat ₺</td>
            <td>@x.Kategori.KateogoriAd</td>
            <td><a href="/Urun/UrunSil/@x.UrunID" class="btn btn-block btn-danger">SİL</a></td>
            <td><a href="/Urun/UrunGetir/@x.UrunID" class="btn btn-block btn-success">GÜNCELLE</a></td>
            <td><a href="/Urun/SatisYap/@x.UrunID" class="btn btn-block btn-warning">SATIŞ YAP</a></td>
        </tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>

