@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TblUyeler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>TELEFON</th>
        <th>OKUL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ÜYE KİTAP GEÇMİŞİ</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.SOYAD</td>
            <td>@x.TELEFON</td>
            <td>@x.OKUL</td>
            <td><a href="/Uye/UyeSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Uye/UyeGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Uye/UyeKitapGecmis/@x.ID" class="btn btn-warning">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>
