@model TravelTripProje.Models.Siniflar.Yorum

@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("YorumGuncelle", "Admin", FormMethod.Post))
    {
        <b>@Html.LabelFor(x => x.ID)</b>
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <b>@Html.LabelFor(x => x.KullaniciAdi)</b>
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        <br />
        <b>@Html.LabelFor(x => x.Mail)</b>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        <b>@Html.LabelFor(x => x.Yorumlar)</b>
        @Html.TextAreaFor(x => x.Yorumlar,15,1, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>
    }

